.bg-arch {
  --grid-color: #e5e5e55d;
  --grid-size: 20px;
  --grid-stroke-width: 1px;

  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  background: #fafafa4e;
  opacity: 0.3;
}

.bg-arch__svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}
